body{
  background: url(fon.jpeg);
  background-size: 100%;
  color: #4d3623;
}
.menu1 {
  width: 10%;
  height: 15%;
  margin: 0;
  padding: 0;
  background: url(menu_fon.jpeg);
  background-size: 100%;
}
.menu2 {
  display: block;
  color: black;
  margin-left: -2px;
}
.table {
  margin-left: 40%;
  margin-top: -27%;
}
.image1 {
  margin-left: 13%;
  margin-top: -210px;
  size: 200px, 300px;
}
.image2 {
  margin-left: 670px;
  margin-top: -510px;
}
.image3 {
  margin-left: 1165px;
  margin-top: -570px;
}
.image4 {
  margin-left: 1620px;
  margin-top: -560px;
}
.info {
  align-items: center;
  max-width: 600px;
  margin-left: 300px;
}
.start_men {
  margin-top: -100px;
}
a {
  color: #4d3623;
}
